
  {% extends 'cars/base.html' %}
  {% block content %}
  
  <h1>Car Details</h1>
  <div class="row" style="display: flex; flex-direction: row; justify-content: start; flex-wrap: wrap; margin-bottom: 12px;">

    <div class="col s12 m4" style="height: 250px; margin-bottom: 1rem;">
      <div class="card" style="height: 250px; margin: 0px; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="card-content">
          <span class="card-title">{{ car.make }}</span>
            <div class="col">
              <p>Nickname: {{ car.nickname }}</p>
              <p>Model: {{ car.model }}</p>
              <p>Year: {{ car.year }}</p>
              <p>Color: {{ car.color }}</p>
            </div>
        </div>
        <div class="card-action" style="display: flex; flex-direction: row; justify-content: start;">
          <a href="{% url 'cars_update' car.id %}">Edit</a>
          <a href="{% url 'cars_delete' car.id %}">Delete</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4" style="height: 250px; margin-bottom: 1rem;">
      <div class="card" style="height: 250px; margin: 0px; display: block ; flex-direction: row; justify-content: space-between;">
        <div class="card-content" style="height: 250px;">
            <div class="col">
              <p style="margin: 0px; text-decoration-line: underline">{{ car.nickname }}'s Drivers:</p>
              {% if car.drivers.count %}
                  {% for driver in car.drivers.all %}
                          <a href="{% url 'drivers_index' %}">{{ driver.name }}</a>
                  {% endfor %}
              {% else %}
                <h5>No Drivers</h5>
              {% endif %}
            </div>
            <div class="col" style="overflow-y: scroll">
              <p style="margin: 0px; text-decoration-line: underline">Available Drivers</p>
              <div class="col" style="display: flex; flex-wrap: wrap;">
                {% if drivers.count %}
                {% for driver in drivers.all %}
                  <form action="{% url 'assoc_driver' car.id driver.id %}" method="POST">
                    <button id="add-driver-btn" type="submit" class="btn" style="margin: 2px;">
                      {{ driver.name }}
                      {% csrf_token %}
                    </button>
                  </form>
                {% endfor %}
                {% else %}
                <p>{{ car.nickname }} Already Has All Available Drivers</p>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4" style="height: 250px; margin-bottom: 1rem;">
    </div>

  </div>


  <h2>Expenses</h2>
  <div class="row">
    <div class="col s12 m4">
      <h4>Add An Expense</h4>
      <!-- Expenses Form -->
      <form action="{% url 'add_history' car.id %}"  method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ history_form.as_p }}
        <input type="submit" class="btn" value="Add Expense">
      </form>
    </div>
    <div class="col s12 m8">
      <h4>Expense History</h4>
      <!-- Expenses History Table -->
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Category</th><th>Amount</th><th>Description</th></tr>
        </thead>
        <tbody style="height: 65vh;">
          {% for history in car.history_set.all %}
            <tr>
              <td>{{history.date}}</td>
              <td>{{history.get_category_display}}</td>
              <td>${{history.amount}}</td>
              <td>{{history.description}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    // add additional JS to initialize select below
    const selectEl = document.getElementById('id_category');
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}