<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends 'cars/base.html' %}

  {% block content %}
    {% if object %}
      <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
      <h1>Add Driver</h1>
    {% endif %}
    <!-- Leaving the action empty makes the form post to the same url used to display it -->
    <div class="row" >
      <form action="" method="post">
        <!-- Django requires the following for security purposes -->
        {% csrf_token %}
        <div class="col s3">
          Name: {{form.name}}
        </div>
        <div class="col s3">
          Age: {{form.age}}
        </div>
        <input type="submit" value="Submit!" class="btn">
      </form>
    </div>
  {% endblock %}
</body>
</html>